.container {
    padding: 1.2rem;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarOptionContainer {
    display: flex;
}

.buttonJoin {
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.1rem;
    background-color: rgb(168, 242, 235);
    color: black;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    border-radius: 10px;
}